@model ShopAsp.NetCore.Models.User

    <div class="container-fluid ">
        <h1 class="h3 mb-2 text-gray-800 text-center">Thông tin tài khoản</h1>
        <form id="userInfo" role="form" accept-charset="utf-8" method="post">
            <div class="container col-7">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" readonly="" type="text" class="form-control" id="email">
                </div>
                <div class=" form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" type="text" class="form-control" id="last_name">
                </div>
                <div class=" form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" type="text" class="form-control" id="first_name">
                </div>
                <div class=" form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" id="address">
                </div>

                <div class="col-5 container-fluid">
                    <button asp-action="Update" type="submit" id="submit" class="btn btn-primary mt-2">Cập nhật thông tin</button>
                    <a asp-action="UpdatePassword" class="btn btn-success mt-2">Đổi mật khẩu</a>
                </div>

            </div>
        </form>
    </div>
  
