@{
    Layout = "_Layout";
}
<div class=" row p-0 m-0">

    <div class="col-6">
        <h2 class="text-info">Danh sách sản phẩm</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Admin" class="btn btn-info form-control text-white">
            Thêm sản phẩm mới
        </a>
    </div>

    <div class="col-12 border p-3 container">
        <table class="table table-bordered" id="DT_load" width="100%" style="text-align:center" cellspacing="0">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Nhãn hiệu</th>
                    <th>Giá</th>
                    <th>Hình ảnh</th>
                    <th>Ngày thêm</th>
                    <th>Ngày cập nhận</th>
                    <th>Mô tả</th>
                    <th>Sản phẩm mới</th>
                    <th>Sản phẩm hot</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>


</div>



