@{
    Layout = "_Layout";
}
<div class=" row p-0 m-0">

    <div class="col-6">
        <h2 class="text-info">Danh sách hóa đơn</h2>
    </div>

    <div class="col-12 border p-3 container">
        <table class="table table-bordered" id="Invoices_load" width="100%" style="text-align:center" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã hóa đơn</th>
                    <th>Khách hàng</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày lập</th>
                    <th>Vận chuyển</th>
                    <th>Tình trạng thanh toán</th>
                    <th>Tổng tiền</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>


</div>



