

@{ 
    ViewData["Title"] = "Thanh toán thành công";
}

<div class="container py-5 text-center" style="min-height: 750px;">
    <img src="~/assets/cam-on.png" style="max-width: 300px">
    <h5 class="mt-10">Cảm ơn bạn đã đặt hàng! Đơn hàng đã được tạo thành công!</h5>
    <p>Đơn hàng của bạn dự kiến được giao trong 03 ngày tới</p>
    <a asp-controller="Customer" asp-action="Index">Về lại trang chủ</a>
</div>